{% extends 'mysite/base.html' %}
{% block content %}
    <h2 class="center">Search</h2>

<ul class="sr-only">
{% if show_all %}
{% for item in page.object_list %}
<li>
    <div>
        <div>
            {{ item.title }}
        </div>
        <div>{{ item.user }}</div>
        <div>{{ item.created_time }}</div>
    </div>
</li>
{% endfor %}
{% else %}
{#自动高亮#}
{% load highlight %}
{% for itme in page.object_list %}
<li>
    <div>
        <div>{% highlight item.object.title with query %}</div>
    </div>
    <div>{{ item.object.user }}</div>
    <div>{% highlight item.object.created_time with query %}</div>
</li>
    {% endfor %}
</ul>
    {% endif %}
{% endblock %}