{% extends 'mysite/base.html' %}
{% load mysite_tags %}

{% block content %}
    <h1 class="text-center">我的个人小站</h1>
    <section class="col-md-5">
        {% for a in articles %}
            <h2>
            <a href="{% url 'mysite:articledetial' a.slug %}">{{ a.title }}</a>
            </h2>
            {% for t in a.tags.all %}
                <span class="label label-success">{{ t}}</span>
                {% endfor %}
            <p class="datetime">
            Published {{ a.publish }} by {{ a.user }}
            </p>
            {{ a.content|truncatechars:30|linebreaks }}
        {% endfor %}
    {% include 'mysite/paginator.html' with page=page_obj %}
    </section>
    <section class="col-md-4">
    {% show_latest_articles  %}
    </section>
    <section class="col-md-4">
    {% mostcomment_articles %}
    </section >
    <section class="col-md-4">
    {% date_articles %}
    </section >
{% endblock %}
